/* Comms panel. */
.comms-container {
	width: 375px;
	height: 40px;
	line-height: 41px;
	/* z-index: 3; */
	font-size: 18pt;
}

#comms-container1 {
	left: 79%;
	bottom: 230px;
}

#comms-container2 {
	left: 79%;
	bottom: 170px;
}

#comms-container3 {
	left: 79%;
	bottom: 110px;
}

/* Comms name dynamic text. */
.comms-name {
	max-width: 260px;
	/* text-align: center; */
	float: left;
	vertical-align: middle;
}

.comms-pronouns {
	vertical-align: middle;
	text-align: right;
	float: right;
	width: 100px;
	font-size: 16pt;
}

/* img {
  position: fixed;
  bottom: 30px;
  right: 200px;
  height: auto;
  z-index: 2;
  pointer-events: none;
  transform-origin: bottom right;
  transform: scale(0.95);
} */