/* Comms panel. */
.comms-container {
	width: 375px;
	height: 40px;
	line-height: 41px;
	/* z-index: 3; */
	font-size: 18pt;
}

#comms-container1 {
	left: 79%;
	bottom: 230px;
}

#comms-container2 {
	left: 79%;
	bottom: 170px;
}

#comms-container3 {
	left: 79%;
	bottom: 110px;
}

/* Comms name dynamic text. */
.comms-name {
	max-width: 270px;
	/* text-align: center; */
	float: left;
	vertical-align: middle;
}

.comms-pronouns {
	vertical-align: middle;
	text-align: middle;
	float: right;
	width: 90px;
	font-size: 17pt;
}

img {
  position: fixed;
  bottom: 387px;
  right: 7px;
  height: auto;
  width: 350px;
  z-index: 2;
  pointer-events: none;
  transform-origin: bottom right;
  /* transform: scale(0.5); */
}