/* Comms panel. */
.comms-container {
	width: 500px;
	max-height: 70px;
	line-height: 30px;
	transform: translateX(-50%);
	/* display: flex;
	flex-wrap: nowrap;
	justify-content: space-between; */

}

#comms-container1 {
	/* left: 325px; */
	left: 339px;
	top: 632px;
}

#comms-container2 {
	/* left: 50%; */
	left: 971px;
	top: 632px;
}

#comms-container3 {
	/* left: 1585px; */
	left: 1602px;
	top: 632px;
}

.comms-name {
	max-width: 500px;
	font-size: 26pt;
	/* flex: 0 0 300px; */
	/* text-align: center; */
	/* display: inline-block; */
	/* height: 40px; */
}
.comms-pronouns {
	margin-top: 2px;
	font-size: 15pt;
} 

